{% extends 'registration/base.html' %}
{% block content %}

        <div class="page-wrapper full-page">
            <div class="page-content d-flex align-items-center justify-content-center">
                <div class="row w-100 mx-0 auth-page">
                    <div class="col-md-8 col-xl-6 mx-auto">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-4 pe-md-0">
                                    <div class="auth-side-wrapper">

                                    </div>
                                </div>
                                <div class="col-md-8 ps-md-0">
                                    <div class="auth-form-wrapper px-4 py-5">
                                        <a href="#" class="noble-ui-logo d-block mb-2">PAC-CI<span>GPA</span></a>
                                        <h5 class="text-muted fw-normal mb-4">Content de te revoir! Connectez-vous à
                                            votre compte.</h5>
                                        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                                            <p class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                                                {{ error|escape }}
                                            </p>
                                        {% endfor %} {% endif %}
                                        <form class="forms-sample" method="post" action="{% url 'login' %}">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="userEmail" class="form-label">Nom Utilisateur</label>
                                                <input type="text" name="username" class="form-control" id="userEmail"
                                                       placeholder="Email">
                                            </div>
                                            <div class="mb-3">
                                                <label for="userPassword" class="form-label">Mot de passe</label>
                                                <input type="password" name="password" class="form-control"
                                                       id="userPassword" autocomplete="current-password"
                                                       placeholder="Password">
                                            </div>
                                            <div class="form-check mb-3">
                                                <input type="checkbox" class="form-check-input" id="authCheck">
                                                <label class="form-check-label" for="authCheck">
                                                    Se souvenir de moi
                                                </label>
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                                                    <i class="btn-icon-prepend" data-feather="lock"></i>
                                                    Se connecter
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}