{% extends 'registration/base.html' %} 
{%block scripts%}
<script>
// jquery function
$(document).ready(function(){
        var ctxLine = document.getElementById('lineChart').getContext('2d');
        var ctxBar = document.getElementById('barChart').getContext('2d');
        var lineChart = new Chart(ctxLine, {
            type: 'line',
            data: {
                
                labels: ["Lun","Mar","Mer","Jeu","Ven","Sam","Dim"], //loop through queryset, 
                datasets: [{
                    label: '# of users',
                    data: [65, 59, 80, 81, 56, 55, 40],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 30, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 159, 30, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
var barChart = new Chart(ctxBar, {
  type: 'bar',
  data: {
      
      labels: ["Lun","Mar","Mer","Jeu","Ven","Sam","Dim"], //loop through queryset, 
      datasets: [{
          label: '# of users',
          data: [65, 59, 80, 81, 56, 55, 40],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)', 
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 159, 30, 0.2)',
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255, 159, 30, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {
      scales: {
          y: {
              beginAtZero: true
          }
      }
  }
});
    });
</script>
{%endblock scripts%}
{% block content %}
<section>
  <div class="container-fluid">
    <div class="row" >
      <div class="col-3 ">
        {%include "layouts/_sidebar.html"%}
      </div>
      <div class="col-md-9 ">
        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <canvas id="lineChart" width="400" height="100"></canvas>  
              </div>
              <div class="col-12">
                <canvas id="barChart" width="400" height="100"></canvas>  
              </div>
          </div>
        </div>
       
      </div>    
    </div>
    
  </div>
</section>
{% endblock %} 