{% extends "registration/base.html" %}
{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 ">{% include "layouts/_sidebar.html" %}</div>
                <div class="col-md-9 ">
                    <div class="container card">
                        {% if races %}
                        <table class="table table-striped caption-top table-responsive">
                            <caption>Liste des demandes de course</caption>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Demandeur de la course</th>
                                    <th scope="col">Projet</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Motif de la course</th>
                                    <th scope="col">Date de départ</th>
                                    <th scope="col">Date d'arrivée</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in races %}
                                <tr>
                                    <th scope="row">{{ r.id }}</th>
                                    <td>{{ r.applicant }}</td>
                                    <td>{{ r.project }}</td>
                                    <td>{{ r.destination }}</td>
                                    <td>{{ r.reason }}</td>
                                    <td>{{ r.begin_date }}</td>
                                    <td>{{ r.end_date }}</td>
                                    <td>{{ r.status }}</td>
                                    <td><a href="#" class="btn btn-info btn-sm">Traiter la demande</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </section>
{% endblock content %}
