{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {% include "layouts/_sidebar.html" %}
            </div>
            <div class="col-9">
                <form method="post">
                    {{ formset }}
                    <input type="submit" value="Submit"/>
                </form>
            </div>

        </div>

    </div>
{% endblock %}


